html {
  background: rgba(2, 82, 129, 0.808);
}
.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 15s linear;
  height: 150px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 0px 20px 20px 20px ;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
